@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #f6b800;
  --color-navy: #001b3a;
  --color-lightgrey: #f3f4f6;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
}
